extends layout

block content
        .container
            h1 Fitness Tracker API
            .items
                p Rest API connected to MongoDB
                a(href='/workouts')
                    button(class='button') Display Workouts
